Flask==2.3.3
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
requests==2.32.3
librosa==0.10.1
matplotlib==3.8.4
numpy==1.26.4
scipy==1.13.1
soundfile==0.12.1
